# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints


data/
notebooks/cifar-10/cifar_autoencoder_joint_training.ipynb
notebooks/cifar-10/cifar_classification.ipynb
notebooks/cifar-10/cifar-classification.ipynb
notebooks/cifar-10/cifar10_featureloss_tests.ipynb
notebooks/cifar-10/cifar10_progressive_resizing.ipynb
notebooks/cifar-10/PretrainingExample.ipynb
notebooks/cifar-10/ResnetEncoderDecoder.ipynb
notebooks/cifar-10/stage-1-cifar.pth

notebooks/mnist/PretrainingModel.ipynb

*.zip